/*
0. Reset
1. Layout
2. Generic tipe items
3. Parts of the web
4. List
5. Form
6. Animations 
----------------
.color1 {color: #0086ff;}
.color2 {color: #00baff;}
.color3 {color: #00f4ff;}
.color4 {color: #84ffff;}
.color5 {color: #f5ffff;}

*/

/* 0 Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*1 Layout*/

body{
    text-align: center;
    font-family: 'Trocchi', serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.tarifas{
    text-align: left;
}
.list-services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-services figure{
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*2 Generic items*/
.header{
    height: 400px;
    background: url(./imagenes/Umaru-chan-wallpaper.jpg) no-repeat center top;
    background-size: 100%;
}
.navbar{
    height: 20%;
    background-color: #2c3e50;
    font-size: 1rem;
}
.navbar a {
    color:#FFFFFF;
    padding: 0 3%;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 1px;
}
.title{
    margin-bottom: 5%;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    margin-bottom: 40px;
}

.btn{
    
    border-radius: 20px;
    padding: 10px 40px;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgb(32, 32, 202);
}

/*3 Parts of the web*/
.content{
    padding: 80px 0;
}
.who{
    background: url();
    background-color: #122e48;
    color: #FFFFFF;
    
}
.who p{
    max-width: 1055px;
    margin: 0 auto;
}
.services{
    color: #FFFFFF;
    background-color: #156690;
}

.tarifas{
    background: url(./imagenes/gundam-alas.jpg) no-repeat center;
    background-size: cover;
    color: #000;
}
.tarifas p{
    max-width: 450px;
}
.localization{
    background: rgb(69, 69, 180);
    color:#fbfbfb;
    padding-bottom: 0;
}
.localization .map img{
    max-width: 100%;
    width:80%;
}
.contain{
    max-width: 1055px;
    margin: 0 auto;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
/*4 List*/
.list-services figure{
    position: relative;
    width: 30%;
    height: 20%;
}

.list-services li{
    padding: 0 30px;
    display: flex;
}
.list-services img{
    position: relative;
    z-index: 1;

}
.list-services figcaption{
  
    left: 0;
    top: 0;
    bottom: -40px;
}
.footer p{
    display: inline;
}
@media only screen and (max-width: 800px) {
    /* .navbar{
        display: none;
    } */
    .title{
        font-size: 30px;
    }
    p{
        font-size: 25px;
    }
  }